body{
	font-size: 12px;
	color: black;
	background-color: lightgreen;
	font-family: Arial;

}
/** Header**/
#header-nav{
	background-color: green;
	border-radius: 0;
	border: 1.5px solid black;
	margin-bottom: 0px;
}

.navbar-brand {
	padding-top: 50px;
	padding-bottom: 25px; 
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand h1 {
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: -13px;
	margin-bottom: 75px;
	line-height: .80px;

}

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 3.2em;
    color: blue;
    background-color: white;
    text-align: center;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 0.5em;
    margin-right: 5px;
  }

  collapse navbar-collapse 

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}

h2{
	font-weight: bold;
	color: solid black;
	background-color: white;
	margin: 0px;
	padding:10px 10px 25px;
}

p{
	background-color: lightgreen;
	color: solid black;
	text-align: justify;
	padding:   5px;
}
h3{
	text-align: center;
	margin-top: 0px;
	padding-top: 10px;
	color: solid black;
	background-color: lightgreen;
}
h3 a:hover{
	text-decoration: none;
}

#container div { background-color: blue;
                 font : 0.5 em ;  }