body{
  font-size: 14px;
  color: #000000;  
}


#header-nav div {
background-color: #9ACD32;
}


.content{
  margin: 10px 25px 10px;
  padding: 10px 10px 0px;
  background-color: #DEB887;
}
.content p{
  padding: 5px 20px 5px;
}
#navbar-collapse li{
  border-bottom: 1px solid #9ACD32;
  padding-left: 0px;
  padding-right: 0px;
}
#navbar-collapse li:nth-child(3){
  border-bottom: none;
  font:1.5em;
}
#nav-list{
  border: 1px solid #666;
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav-list li{  
  background-color: #F0E68C;
  font:2em;
}
/********** Desktop **********/
@media (min-width: 992px) { 
}
/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {  
}
/********** Mobile **********/
@media (max-width: 767px) {  
 
}
